.jumbotron{
  background-color:#ffff007a;
  color: black;
  margin-top: 50px;/*para que no se lo coma la barra de navegacion, con el fixed-top*/
}

footer{
  padding: 10px 10px 0 10px;
  background-color:#ffff007a;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel{/*del mismot tamaño todas las casillas*/
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.btn-reservsa{
  width: 100%;
}

.navbar-dam{
  background-color: #045d6c;
}

.footer-padding{
  padding-right: 10px;
}

.table-dam{
  background-color: #045d6c;
  color: white;
}
